useDynLib(ACEt)
export(acetp_mcmc)
export(AtCtEp)
export(AtCtEtp)
export(AtEtp)
export(AtCtEt)
export(plot_acet)
importFrom(Rcpp, sourceCpp)
importFrom("graphics", "legend", "lines", "plot", "polygon")
importFrom("stats", "optim")
importFrom(splines, splineDesign)