useDynLib(ACEt)
export(acetp_mcmc)
export(AtCtEtp)
export(AtCtEt)
export(plot_acet)
export(loglik_AtCtEt_epsp)
export(loglik_AtCtEt_epsp_g)
export(gr_AtCtEt_epsp)
export(gr_AtCtEt_epsp_g)
export(test_AtCtEtp)
importFrom(Rcpp, sourceCpp)
importFrom("graphics", "legend", "lines", "plot", "polygon")
importFrom("stats", "optim", "quantile", "runif")
importFrom(splines, splineDesign)
importFrom(MASS, mvrnorm)