useDynLib(ACEt)
export(AtCtEp_mcmc)
export(AtEtp_mcmc)
export(AtCtEp)
export(AtCtE)
export(AtEtp)
export(AtEt)
export(AtCEt)
export(plot_AtCtE)
export(plot_AtCEt)
export(plot_AtEt)
export(plot_AtEtp)
export(plot_AtCtEp)
importFrom(Rcpp, sourceCpp)
